<style>
    input {
        background-color: transparent;
        border: 0px solid;
    }

    .draggable {
        cursor: grab;
    }

    .draggable:active {
        cursor: grabbing;
    }

    .dragging {
        cursor: grabbing;
    }

    .al-cnt{
        align-items: center;
    }
</style>


<div class="border rounded m-2 px-1" style="width: 16rem;">

    <!-- Drag, Clock/Hours, Badge -->
    <div class="d-inline-flex al-cnt">
        <!-- Drag -->
        <span class="oi oi-grid-three-up draggable float-left m-2" draggable="true" @ondragstart="@(() => HandleDragStart(ProjectTask))"></span>

        <!-- Clock/Hours -->
        <div class="input-group input-group-sm mt-1">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="oi oi-clock"></i>
                </span>
            </div>
            <input type="number" class="form-control" @bind="ProjectTask.Hours" placeholder="2">
        </div>

        <!-- Badge -->
        <div>
            <button type="button" class="badge badge-light float-right mx-2 mt-1">Normal</button>
        </div>

    </div>
  
    <!-- Task Element -->
    <div class="text-truncate text-right">
        <small>
            (22541-A-21000-260) Amazon Askar SW Tasks to do some day
        </small>
    </div>
</div>

@code {
    [CascadingParameter] JobContainer Container { get; set; }
    [Parameter] public ProjectTask ProjectTask { get; set; }

    private void HandleDragStart(ProjectTask selectedJob)
    {
        Container.Payload = selectedJob;
    }
}