<style>
    input {
        background-color: transparent;
        border: 0px solid;
    }
</style>

<div class="card mb-2" style="width: 18rem;">
    <div class="card-body p-0">
        <div class="card-header px-3 py-2">
            <input @bind="ProjectTask.Name" placeholder="Task name">
        </div>
        <div class="card-body p-1">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Hours:</span>
                </div>
                <input type="text" class="form-control" @bind="ProjectTask.Hours">
            </div>
            <div class="input-group mb-0">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date:</span>
                </div>
                <input type="date" class="form-control" @bind="ProjectTask.DateTime" @bind:format="yyyy-MM-dd">
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ProjectTask ProjectTask { get; set; }
}
