<style>
    .job-status {
        display: flex;
        flex-direction: column;
    }

    .dropzone {
        padding: 3px;
        border: 1px dashed #75868a;
        list-style: none;
        min-height: 100px;
    }

    .no-drop {
        border: 2px dashed red;
    }

    .can-drop {
        border: 2px dashed green;
    }
</style>

<div class="job-status">
    <h3>@ShortDateString (@Jobs.Count())</h3>

    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var job in Jobs)
        {
            <JobTaskView ProjectTask="job" />
        }

    </ul>
</div>

@code {
    [CascadingParameter] JobContainerView Container { get; set; }
    [Parameter] public string ShortDateString { get; set; }

    List<ProjectTask> Jobs = new List<ProjectTask>();
    string dropClass = "";

    protected override void OnParametersSet()
    {
        Jobs.Clear();
        Jobs.AddRange(Container.Jobs.Where(x => x.DateTime.ToShortDateString() == ShortDateString));
    }

    private void HandleDragEnter()
    {
        if (ShortDateString == Container.Payload.DateTime.ToShortDateString()) return;

        dropClass = "can-drop";
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";


        await Container.UpdateJobAsync(ShortDateString);
    }
}
