<style>
    .job-status {
        display: flex;
        flex-direction: column;
    }

    .dropzone {
        padding: 3px;
        border: 1px dashed #75868a;
        list-style: none;
        min-height: 100px;
    }

    .no-drop {
        border: 2px dashed red;
    }

    .can-drop {
        border: 2px dashed green;
    }
</style>

<div class="job-status">
    <h3>@ShortDateString (@DayHours)</h3>

    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var jobTask in Tasks)
        {
            <TaskView JobTask="jobTask" OnHoursChanged="UpdateDayHours" />
        }

    </ul>
</div>

@code {
    [CascadingParameter] TaskWeekView TaskWeek { get; set; }
    [Parameter] public string ShortDateString { get; set; }

    List<JobTask> Tasks = new List<JobTask>();
    string dropClass = "";

    double DayHours { get; set; }

    void UpdateDayHours()
    {
        DayHours = Tasks.Sum(x => x.Hours);
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        Tasks.Clear();
        Tasks.AddRange(TaskWeek.Tasks.Where(x => x.Date.ToShortDateString() == ShortDateString));
        UpdateDayHours();
    }

    private void HandleDragEnter()
    {
        if (ShortDateString == TaskWeek.Payload.Date.ToShortDateString())
            return;

        dropClass = "can-drop";
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";

        await TaskWeek.UpdateJobAsync(ShortDateString);
    }
}
