@inject TaskDragStateHandler TaskDragStateHandler

<style>
    .week-container {
        display: flex;
        margin-left: 160px;
        justify-content: space-around;
        flex-direction: row;
    }
</style>

<div class="week-container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public List<JobTask> Tasks { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback<JobTask> OnStatusUpdated { get; set; }

    public JobTask Payload => TaskDragStateHandler.TaskView.JobTask;

    public async Task UpdateJobAsync(string newStatus)
    {
        var task = Tasks.SingleOrDefault(x => x.Id == Payload.Id);

        if (task != null)
        {
            task.Date = DateTime.Parse(newStatus);
            await OnStatusUpdated.InvokeAsync(Payload);
        }
    }
}
