<style>
    .job-status {
        display: flex;
        flex-direction: column;
    }

    .dropzone {
        padding: 3px;
        border: 1px dashed #75868a;
        list-style: none;
        min-height: 100px;
    }

    .no-drop {
        border: 2px dashed red;
    }

    .can-drop {
        border: 2px dashed green;
    }
</style>

<div class="job-status">
    <h3>@ShortDateString (@Tasks.Sum(x=>x.Hours))</h3>

    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var taskInstance in Tasks)
        {
            <TaskView Task="taskInstance" />
        }

    </ul>
</div>

@code {
    [CascadingParameter] TaskWeekView Container { get; set; }
    [Parameter] public string ShortDateString { get; set; }

    List<TaskInstance> Tasks = new List<TaskInstance>();
    string dropClass = "";

    protected override void OnParametersSet()
    {
        Tasks.Clear();
        Tasks.AddRange(Container.Tasks.Where(x => x.Date.ToShortDateString() == ShortDateString));
    }

    private void HandleDragEnter()
    {
        if (ShortDateString == Container.Payload.Date.ToShortDateString()) 
            return;

        dropClass = "can-drop";
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";

        await Container.UpdateJobAsync(ShortDateString);
    }
}
