<div>
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public List<ProjectJob> Jobs { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback<JobTask> OnStatusUpdated { get; set; }

    public JobTask Payload { get; set; }

    public async Task UpdateJobAsync(int newJobId, int taskId)
    {
        var task = Jobs.SingleOrDefault(x => x.Id == newJobId);

        if (task != null) {
            Payload.ProjectJob = task;
            await OnStatusUpdated.InvokeAsync(Payload);
        }
    }
}
