@inject TaskDragStateHandler TaskDragStateHandler
<div class="job-item">
    <div class="job-dropzone @dropClass"
         ondragover="event.preventDefault();"
         ondragstart="event.dataTransfer.setData('', event.target.id);"
         @ondrop="HandleDrop"
         @ondragenter="HandleDragEnter"
         @ondragleave="HandleDragLeave"
         style="background: @Job.DefaultColor">

        @Job.Code
        <div class="text-truncate">
            <small>
                @Job.Description
            </small>
        </div>

    </div>
</div>

@code {
    [Parameter] public ProjectJob Job { get; set; }
    private TaskView TaskView => TaskDragStateHandler.TaskView;

    string dropClass = "";

    private void HandleDragEnter()
    {
        dropClass = "can-drop";
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private void HandleDrop()
    {
        dropClass = "";

        TaskView.JobTask.ProjectJob = Job;
        TaskView.UpdateState();

        StateHasChanged();
    }
}

